.btn-xl {
    padding: 15px 45px;
    font-size: 11px;
}
.btn {
    border-radius: 300px;
}
.btn-outline {
    color: #fff;
    border: 1px solid;
	margin-bottom: 50px;
}
.btn, .navbar-default .nav>li>a {
    font-family: Lato,Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

body {
    padding-top: 50px;
}
        
.navbar-template {
    padding: 40px 15px;
}

header{
	background: url('../Images/bg-pattern.png'), linear-gradient(to left, #7b4397,#dc2430);
}

.btn-outline:hover .btn-outline{
    background-color: yellow;
}

footer{
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
}

footer a {
    color: yellow;
}

footer a:hover {
    color: white;
    text-decoration: none;
}

#skImg{
    height: 20px;
}

hr{
    background: #f5f5f5;
    -webkit-mask-image: radial-gradient(circle,#f5f5f5 50%,transparent);
}

.hexaImage{

}

.hexaDiv{

}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

h1{
	margin-top: 100px;
	color: white;
	font-weight: 500;
}

.persons{
	width: 150px;
	height: 150px;
}

.mySpan{
	height: 230px;
}

@media (max-width: 760){
	.mySpan{
		height : 20px;
	}
}