.btn-xl {
    padding: 15px 45px;
    font-size: 11px;
}
.btn {
    border-radius: 300px;
}
.btn-outline {
    color: #fff;
    border: 1px solid;
	margin-bottom: 50px;
}
.btn, .navbar-default .nav>li>a {
    font-family: Lato,Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#breadCrumb{
    margin-bottom: 0px !important;
}

body {
    padding-top: 105px;
}

.navbar{
    margin-bottom: 0px !important;
}
        
.navbar-template {
    padding: 40px 15px;
}

header{
	background: url('../Images/bg-pattern.png'), linear-gradient(to left, #7b4397,#dc2430);
}

.btn-outline:hover .btn-outline{
    background-color: yellow;
}

footer{
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
}

footer a {
    color: yellow;
}

footer a:hover {
    color: white;
    text-decoration: none;
}

#skImg{
    height: 20px;
}

hr{
    background: #f5f5f5;
    -webkit-mask-image: radial-gradient(circle,#f5f5f5 50%,transparent);
}

.hexaImage{

}

.hexaDiv{

}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

h1{
	margin-top: 130px;
	color: white;
	font-weight: 600;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
}

.persons{
	width: 150px;
	height: 150px;
}

.mySpan{
	height: 300px;
}

@media (max-width: 760){
	.mySpan{
		height : 20px;
	}
}

.cities{
    position: absolute;
    top: 40%;
    left: 20%;
    color: #dc2430;
    font-weight: 800;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.hexaImage:hover .hexaImage{
    opacity: 0.5;
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

a img{
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

#timelineImg{
    margin-top:20%;
}