


#demo{
    margin: 30px;
    text-align: center;
    color: #2c3e50;
    font-size: 50px;
    font-weight: 100;
    line-height: 1.2;
    font-style: normal;
    display: block;
    font-family: Segoe UI;
}

#omg{
	 margin: 30px;
    text-align: center;
    color: #2c3e50;
    font-size: 25px;
    font-weight: 100;
    line-height: 1.2;
    font-style: normal;
    display: block;
    font-family: Segoe UI;
}
p{
	    text-align: center;
	    color: #2c3e50;
	    font-style: normal;
        font-family: Segoe UI;
}



input, select, textarea{
    border-radius: 4px;
    border: 1px solid #d6d6d6;
    color: #333333;
    background: white;
    background-clip: padding-box;
    font-family: "Myriad Set Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 15px;
    line-height: 1.33333;
    font-weight: 400;
    letter-spacing: normal;
}

.fields{
    height: 22px;
    width: 413px;
    margin: auto;
    display: block;
}


.half_field{
    height: 22px;
    width: 200px;
}

#robotWrapper, #statementWrapper{
    width: 413px;
    margin: auto;
    display: block;
}

#submitBtn{
    margin-top: 20px;
    margin: auto;
    display: block;
}

#secondName{
    float: right;
    margin-right: 10px;
}

.form_group{
    margin-bottom: 20px;
    margin-top: 10px;
}

.double{
    margin: auto;
    display: block;
    width: 435px;
}

.fields{
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 50%;
}

 .half_field{
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#radio_wrapper{
    margin: auto;
    display: block;
    width: 413px;
}

section{
    margin: auto;
}

hr{
    width: 413px;
    height: 1px;
    border: none;
    background: #d6d6d6;
}

#radio_wrapper{
    color: black
}

#submit_form_group{
    visibility: hidden;
}

#form_wrapper{
    margin: auto;
    display: block;
    width: 413px;
    position: relative;
}

#required{
    color: gray;
    font-weight: 200;
}

.tooltip{
    display: none;
    width: 200px;
    background-color:rgba(0, 0, 0, 0.80);;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 2;
}

#ageInput{
    margin-left: -3px;
}

.inputWrap:hover .tooltip{
    display: block;
}

#form_wrapper .tooltip::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
