#popis{
background: rgba(219,219,219,1);
background: -moz-linear-gradient(left, rgba(219,219,219,1) 0%, rgba(212,212,212,1) 47%, rgba(204,204,204,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(219,219,219,1)), color-stop(47%, rgba(212,212,212,1)), color-stop(100%, rgba(204,204,204,1)));
background: -webkit-linear-gradient(left, rgba(219,219,219,1) 0%, rgba(212,212,212,1) 47%, rgba(204,204,204,1) 100%);
background: -o-linear-gradient(left, rgba(219,219,219,1) 0%, rgba(212,212,212,1) 47%, rgba(204,204,204,1) 100%);
background: -ms-linear-gradient(left, rgba(219,219,219,1) 0%, rgba(212,212,212,1) 47%, rgba(204,204,204,1) 100%);
background: linear-gradient(to right, rgba(219,219,219,1) 0%, rgba(212,212,212,1) 47%, rgba(204,204,204,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#cccccc', GradientType=1 );
border:5x;
border-style:solid;
border-radius: 25px;
min-height:498px;
height:auto;
background-color:white;
}
#navod{
position:relative;
left:5%;
top:5%;
width:90%;
border style:solid;
border:5px;
border-radius:10px;
background-color:yellow;
}
.smetiaky{
position:relative;
top:52%;
width:25%;
border-radius:10px;
box-shadow:0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
min-width: 100px;
}

h1{
text-align:center;
background-color:white;
border-radius:5px;
color:#5c5c3d;
}
.papier{
background-color:white;
border:5px;
margin:5px;
width:50px;
border style:solid;
border-radius:5px;
display:none;
}
.plast{
background-color:white;
border:5px;
margin:5px;
padding:3px;
border-radius:5px;
border style:solid;
display:none;
}
.sklo{
background-color:white;
border:5px;
margin:5px;
border-radius:5px;
border style:solid;
display:none;
}
#but1,#but3{
top:32%;
margin-right:10px;
margin-left:10px;
display:none;
float:left;
background-color:black;
color:white;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#but2{
float:left;
margin-right:10px;
margin-left:10px;
top:32%;
background-color:black;
color:white;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#level{
display:none;
color:green;
left:40%;
}
#smet1{
left:5%;
}
#smet2{
left:10%;
}
#smet3{
left:15%;
}
h2{
text-align:left;
color:#004d00;
}
#lvl1,#lvl2,#lvl3,#lvl4,#lvl5,#lvl6,#skore{
display:none;
}
#highscore{
color:red;
margin-left:15px;
}
#best{
margin-left:5px;
color:green;
}