
  h1{
   
    text-align: center;
  }
  body {
     background-color:#EEEEEE;
     display: block;
     margin: auto;       
    font-family: "@font-family-sans-serif";
        
  }
  form {
    
    background: #5cb85c;
    color: black;
    border-radius: 5px;
     padding: 5px 5px;
        
   
  }
  #novaUloha {
    width: 60%;
    margin-left: 10%;
  }
  
  #todolist li {    
    
    border-radius: 2px;
    list-style: none;
     background-color:#EEEEEE;
    
    padding: 5px 10px;
    margin-bottom: 5px;
    position: relative;
    
  }
  #todolist li:nth-child(2n) {
    background: #ccc;
  }
  #todolist li:hover:after,
  #todolist li.done:after {
    content: '✔';
    color: #060;
    position: absolute;
    right: 2%;    
  }
  